<div class="wrapper">
    <div class="rounded-lg blurBackground  flex space-x-2 px-1 py-1 tabsWrapper">
       
        <div class="tab rounded-lg p-2 bookmark-icon cursor-pointer"  routerLink="bookmarks" routerLinkActive="selected">
            <div class=" tabs-tile">
                <img src="/assets/icons8-bookmark-50.png" alt="bookmarks" width="20">
            </div>
        </div>

        <div class="tab rounded-lg p-2 Todo-icon cursor-pointer" routerLink="todos" routerLinkActive="selected">
            <div class="tabs-tile" >
                <img src="/assets/icons8-todo-list-48.png" alt="todos" width="20">
            </div>
        </div>

        <div class="tab rounded-lg p-2 notes-icon cursor-pointer" routerLink="notes"  routerLinkActive="selected">
            <div class="tabs-tile ">
                <img src="/assets/icons8-create-48.png" alt="notes" width="20">
            </div>
        </div>
    </div>
</div>