<div class="app-wrapper h-full flex flex-col">
    <img [src]="bg" 
    class="w-full object-cover fixed h-full -z-10" 
    (load)="onLoadingBgImage()" 
    @swapBgFadeIn >

    <div class="bg-gray-300/20 fixed mx-4 left-0 top-10 properties rounded text-gray-200 cursor-pointer hover:bg-gray-300 hover:text-gray-600 z-10  md:w-fit" 
    (click)=changeBG()
    *ngIf="!loadingImage">Reload</div>


<div class="flex justify-center items-center flex-col flexGrow1">
    <p class="text-gray-300/50 font-extrabold text-8xl">{{dateTime | date:"HH:mm"}}</p>
    <p class="text-gray-300">{{dateTime | date}}</p>
</div>

<div class=" flexGrow" [@routeAnimations]="preparedRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>

<div class="flex justify-center items-center baseProperties">
    <app-base-toggle></app-base-toggle>
</div>

<app-notification></app-notification>

</div>